<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yandi.yarud.yadiupi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,RtlEnabled"
        tools:targetApi="donut">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".absensi.PenugasanActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".absensi.DetilMKActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".absensi.RisalahMKActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".absensi.PresensiActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".absensi.PemilihanKMActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".mahasiswa.MahasiswaKontrakActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".absensi.ApproveKehadiranDosenActivity"
            android:theme="@style/AppTheme.popup" />
        <activity
            android:name=".forum.ForumActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".forum.DataForumActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".forum.InputDiskusiActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".forum.DiskusiActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".forum.ForumMhsActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".mahasiswa.MhsAbsenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".forum.InputWDActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />

    </application>

</manifest>